# Python bytecode
__pycache__/
*.py[cod]

# Editable-install metadata
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code / editors
.vscode/
*.swp

# OS junk
Thumbs.db
.DS_Store

# Large binary animation files
results/animations/**/*.gif
!results/animations/BackwardStep/anim_Ny64_BackwardStep_Re10.gif
!results/animations/ForcedPoiseuille/anim_Ny32_ForcedPoiseuille.gif
!results/animations/PressurePoiseuille/anim_Ny32_PressurePoiseuille.gif
!results/animations/TwoRectangles/anim_Ny64_TwoRectangles_Re10.gif
!results/animations/Cylinder/anim_Ny64_Cylinder_Re10.gif